@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* .bg-color{
    background-color: rgba(0, 0, 0, 0.05);
} */

/* shared styles */
.display-flex{
    display: flex;
}
.color-secondary{
    color: rgba(0, 0, 0, 0.5);
}
.color-primary{
    color: #E95A08;
}

/* header styles */
header{
    padding: 50px 150px;
}
/* navbar styles */
.nav-container{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 50px;
}
.nav-link{
    text-decoration: none;
}
.nav-1{
    color: #252432;
    font-weight: 700;
}
.nav-cart{
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
}

/* banner styles */
.banner{
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.banner-text{
    width: 570px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 10px;
}
.banner-description{
    font-size: 22px;
    max-width: 500px;
}

/* plants section style */
.our-plants{
    text-align: center;
    margin-top: 80px;
}
.plants-title{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}
.plants-description{
  font-size: 22px;
  max-width: 800px;
  margin: 0 auto 60px;
}
.plants-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}
.plant-card img{
  width: 100%;
  height: auto;
}
.plant-name{
  font-weight: normal;
  font-size: 20px;
  margin: 10px 50px;
  color: #252432;
}
.plant-price{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.plant-btn{
  background-color: #E95A08;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  border: none;
  width: 100%;
  padding: 20px 80px;
  cursor: pointer;
}

/* plants lover styles */
.plants-lover{
  margin: 200px 150px 100px 150px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}
.plants-lover-img{
  position: relative;
  width: 550px;
  height: auto;
  flex-shrink: 0;
}
.plants-lover-img .lover-img{
  width: 100%;
}
.plants-lover-img .lover-badge{
  position: absolute;
  top: -130px;
  right: -120px;
  width: 280px;
  animation: spin 3s linear infinite;
}
.plants-lover-content{
  flex: 1;
  max-width: 570px;
}
.plants-lover-title{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.lover-description{
  list-style: disc;
  padding-left: 20px;
  font-size: 22px;
  line-height: 1.6;
}
.lover-description li{
    margin-bottom: 20px;
}


/* deals styles */
.deals{
  padding: 50px 150px;
  text-align: center;
}
.deals-title{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.deals-description{
  max-width: 800px;
  margin: 20px auto 80px;
  font-size: 22px;
}

.deals-img-container {
  display: flex;
  gap: 25px;
  align-items: stretch;
}

.vertical-collage {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

.zabo {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.zabo .deals-img {
  width: 100%;
  height: 100%;
}
.deals-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border-radius: 18px;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  min-height: 200px;
  position: relative;
}
.deals-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
}
.deals-discount {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.shop-now {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.zabo-discount{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.zabo-btn{
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 5px;
    color: white
}

.deals-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  z-index: 0;
}





/* keyframe animation for badge */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* Responsive media query for mobile device */
@media screen and (max-width: 576px) {
    .nav-container{
        ;
    }
   .logo {
    width: 100px;
  }
    .hide{
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 60px;
    gap: 30px;
  }
    .banner-text {
    width: 100%;
    padding: 0 20px;
  }

  .banner-title {
    font-size: 36px;
  }

  .banner-description {
    font-size: 16px;
    max-width: 100%;
  }

}